 .quiz-answer {
   background-color: #fff;
   padding: 5px;
   margin: 5px;
   border: 1px solid #dbdbdb;
   border-radius: 30px;
   display: block;
 }

 .quiz-answer:hover {
   background-color: #f1f1f1;
   cursor: pointer;
 }

 .active {
   background-color: rgb(16, 214, 148);
 }

.body-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  max-width: 640px;
}